<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="imageMapper">

    <!-- 배너 이미지 -->
    <select id="selectBannerImage" parameterType="long" resultType="byte[]">
        SELECT IMAGE_DATA
        FROM OFT_MAIN_BANNER
        WHERE BANNER_NO = #{_parameter}
    </select>

    <select id="selectBannerMimeType" parameterType="long" resultType="string">
        SELECT MIME_TYPE
        FROM OFT_MAIN_BANNER
        WHERE BANNER_NO = #{_parameter}
    </select>

    <!-- 상품 이미지 -->
    <select id="selectProductImage" parameterType="long" resultType="byte[]">
        SELECT IMAGE_DATA
        FROM OFT_PRODUCT_IMAGE
        WHERE IMAGE_NO = #{_parameter}
    </select>

    <select id="selectProductMimeType" parameterType="long" resultType="string">
        SELECT MIME_TYPE
        FROM OFT_PRODUCT_IMAGE
        WHERE IMAGE_NO = #{_parameter}
    </select>

    <select id="selectReviewImage" parameterType="long" resultType="byte[]">
        SELECT IMAGE_DATA
        FROM OFT_REVIEW_IMAGE
        WHERE REVIEW_IMAGE_NO = #{_parameter}
    </select>

    <select id="selectReviewMimeType" parameterType="long" resultType="string">
        SELECT MIME_TYPE
        FROM OFT_REVIEW_IMAGE
        WHERE REVIEW_IMAGE_NO = #{_parameter}
    </select>

</mapper>
